header img {
    float: right;
    margin-right:30px;
    margin-top: -80px;
    box-shadow:
        0, 4px 10px 0 rgba(0, 0, 0, 0.2)
        0 6px 50px 0 rgba(0, 0, 0, 0.2);
}

header, footer {
    background-color: rgb(2, 77, 2);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    font-family: Times;
    color: white;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

main {
    display: block;
}

section {
    display: block;
}
 
.mainpicture {
    float: right;
    margin-top: -100px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}