@media only screen and (min-width: 60em) {
    main {
          grid-template-columns: 1fr 1fr 1fr;
      }
      main picture {
          display: block;
      }
      main picture img {
          width: 100%;
          border: 1px solid #bbb;
          border-radius: 9px;
      }
   
  }
  section {
    margin-top: 25px;
    border-radius: 3px;
    width: 100%;
}
html {
    margin: 0 auto;
}
.active {
    background-color: #047526;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align align-self: center;
    align-content: space-between;
}